@import '../../utils/css/shared.scss';

.carousel {
  margin: auto;

  --slide-height: 300px;
  --slide-spacing-sm: 1rem;
  --slide-spacing-lg: 1.6rem;
  --slide-spacing: 2rem;
  --slide-size-sm: 100%;
  --slide-size-lg: 50%;
  --slide-size: calc(100% / 3);
}

.carousel__viewport {
  overflow: hidden;
  margin-bottom: 1rem;
}

.carousel__container {
  display: flex;
  backface-visibility: hidden;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);

  @media (max-width: $lg-width) {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
  @media (max-width: $sm-width) {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}

.carousel__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);

  @media (max-width: $lg-width) {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
  @media (max-width: $sm-width) {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }

  img {
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;

    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
}

.carousel__controls {
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  button {
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    transition: $main-transition;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $color-grey;
      }
    }
    &:active {
      color: $color-grey;
    }
  }
}
