@import '../../utils/css/shared.scss';

.nav-item-dropdown-list {
  position: relative;

  @media (max-width: $nav-breakpoint) {
    width: 100%;
    height: 100%;
  }
}

.nav-item-dropdown-list__toggler {
  display: flex;
  transition: $main-transition;
  cursor: pointer;

  @mixin hover {
    color: $color-primary;
  }
  &:active {
    @include hover;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @include hover;
    }
  }

  @media (max-width: $nav-breakpoint) {
    // min-height: calc(
    //   ((100dvh - #{$header-height-sm}) / #{$nav-items-amount}) - #{$border-bottom-width-mob-nav-item}
    // );
    // min-height: calc(((100dvh - #{$header-height-sm}) / #{$nav-items-amount}));
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.nav-item-dropdown-list__toggler_open {
  @media (max-width: $nav-breakpoint) {
    background: lighten($color-bg-main, 10);
    color: $color-primary;
  }
}

.nav-item-dropdown-list__title {
  text-transform: uppercase;
}

.nav-item-dropdown-list__arrow {
  margin-left: 0.2rem;
  transition: transform 0.15s linear;

  svg {
    display: block;
  }
}

.nav-item-dropdown-list__arrow_is-opened {
  transform: rotate(-180deg);
}

.nav-item-dropdown-list__options {
  border-radius: $border-radius-main;
  border: 1px solid $color-light;
  overflow: hidden;

  @media (max-width: $sm-width) {
    border-radius: 0;
    border: 0;
    border-top: $border-bottom-width-mob-nav-item solid $color-primary;
  }
}

.nav-item-dropdown-list__options-item {
  background: $color-bg-light;
  border-bottom: 1px solid $color-light;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: $main-transition;

  &:last-child {
    border-bottom: 0;
  }

  @media (max-width: $sm-width) {
    font-size: 1rem;
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    text-decoration: none;
    color: $color-light;

    @media (max-width: $sm-width) {
      padding: 1.5rem 5%;
    }
  }
}
