@import '../../utils/css/shared.scss';

.certificates {
  display: block;
}

.certificates__inner {
  @extend %inner-container;
}

.certificates__heading {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: $color-primary;
}

.certificates__description {
  text-align: center;
  margin-bottom: 2rem;
}

.certificates__carousel {
  margin-bottom: 2rem;
}
