@import '../../utils/css/shared.scss';

.footer {
  position: relative;
  background-color: $color-bg-main;
  color: $color-secondary;
  height: 80px;
  border-top: 1px solid $color-secondary;

  span {
    text-transform: uppercase;
  }
}

.footer__inner {
  @extend %app-inner-width;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  display: flex;
  height: 75%;
  margin-left: 2rem;

  img {
    width: auto;
    height: 100%;
  }
}
