@import '../../utils/css/shared.scss';

.product__inner {
  @extend %inner-container;

  position: relative;
  overflow: hidden;
}

.product__title {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: $color-blue;

  @media (max-width: $sm-width) {
    font-size: 1.5rem;
    white-space: pre-wrap;
  }
}

.product__content {
  display: flex;
  align-items: center;

  @media (max-width: $md-width) {
    flex-direction: column;
  }
}

.product__img-container {
  width: 300px;
  max-width: 100%;
  margin-right: 3rem;
  flex-shrink: 0;
  text-align: center;

  @media (max-width: $md-width) {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}

.product__buy-btn {
  @extend %button;

  background: $color-green;
  color: $color-bg-dark;
  font-weight: bold;
  font-size: 1.25rem;

  &:active {
    background: $color-text-light;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: $color-text-light;
    }
  }
}

.product__description-container {
  h4 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
    color: $color-blue;
  }
}

.product__description-primary,
.product__description-secondary {
  margin-bottom: 1.5rem;
  text-indent: 2rem;
  line-height: 1.15;

  @media (max-width: $md-width) {
    text-align: center;
    text-indent: 0;
  }

  span {
    &:first-child {
      color: $color-primary;
      font-weight: bold;
    }

    &:last-child {
      color: inherit;
      font-weight: inherit;
    }
  }
}

.product__list-primary,
.product__list-secondary {
  margin-bottom: 2rem;

  li {
    display: flex;
    margin-bottom: 0.25rem;

    span {
      line-height: 1.1;
    }
  }
}

.dot-icon {
  margin-right: 0.5rem;
  color: $color-blue;

  svg {
    display: flex;
  }
}

.li-title {
  font-weight: bold;
  color: $color-blue;
}

.product__characteristics {
  width: 100%;
  margin: 0 auto;
  // border-collapse: collapse;
  border-spacing: 0;
  border-radius: $border-radius-main;
  overflow: hidden;

  tr {
    &:nth-child(odd) {
      background-color: rgba($color-blue, 0.2);
    }

    &:nth-child(even) {
      background-color: rgba($color-blue, 0.5);
    }
  }

  td {
    padding: 0.5rem;
    border-right: 1px solid $color-text-light;
    text-align: center;
    color: $color-text-light;
    white-space: pre-wrap;

    &:first-child {
      @media (max-width: $sm-width) {
        width: 40%;
      }
    }

    &:last-child {
      border: 0;
    }
  }
}

.t-head {
  color: $color-primary !important;
  font-weight: bold !important;
}
